#fasm{
    color: white;
    margin-bottom:40px;
    margin-top:20px;
    padding-top: 40px;
    margin-left:100px;
}
#con{
    background-color: black;
    margin-top: 40px;
}
#form{
    color: white;
    margin-bottom: 40px;
    margin-left:100px;
    padding-bottom: 40px;
    margin-top:10px;
}
#img4{
    height: 25px;
    width: 50px;
    
}
    #fb{margin-left: 750px;
        
        height: 25px;
        width: 50px;
       
    }
#row2{
padding-bottom:20px;
margin-left:100px;
}
#color{
margin-left:700px;
}
    

